.mobile-toggler {
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border-radius: 50%;
    border: 1px solid $white;
    display: flex;
    position: relative;
    color: $white;
    overflow: hidden;
    cursor: pointer;

    div {
        font-size: 1.2rem;
        text-transform: uppercase;
        @include absolute;
        @include transition;

        &:nth-child(2) {
            transform: translate(-50%, 150%);
        }

    }

    &.open {
        div {
            transform: translate(-50%, -200%);

            &:nth-child(2) {
                transform: translate(-50%, -50%);
            }
        }
    }
}