.form {
    width: 100%;
    //padding: 2rem;

    &-group {
        width: 100%;
        margin-bottom: 3rem;

        label {
            display: block;
            font-size: 1.2rem;
            font-weight: bold;
            letter-spacing: .3rem;
            text-transform: uppercase;
            margin-bottom: 1rem;
        }

        input,
        textarea {
            display: inline-block;
            width: 100%;
            padding: 1.5rem;
            border: none;
            border-bottom: 2px solid transparent;
            font-size: 1.6rem;
            @include transition(border-color, $t-time, linear);
            
            &::placeholder {
                font-size: 1.6rem;
                color: $gray;
            }

            &:hover,
            &:focus {
                outline: none;
                border-color: #f44a66;
            }
        }
    }
}