// Colors
$main-color: #f44a66;
$black: #222;
$white: #fff;
$pale-black: rgba(0,0,0, .03);
$gray: #AAAAAA;
$orange: #ffaf41;
$bondi-blue : #059ab4;
$santa-fe: #b06a51;


$max-width: 1200px;
$header-height: 100px;

$tablet: 768px;
$pc: 1200px;

$t-time: 250ms;
$t-time-2: 500ms;
$t-timing: ease-in-out;

$font-stack: 'Raleway', Helvetica, Arial, sans-serif;
