@font-face {
    font-family: 'Raleway';
    font-weight: normal;
    src: url('../fonts/Raleway/Raleway-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway';
    font-weight: bold;
    src: url('../fonts/Raleway/Raleway-bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway';
    font-weight: medium;
    src: url('../fonts/Raleway/Raleway-Medium.ttf') format('truetype');
}